spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/admin-template
    username: admin-template
    password: 123456
  data:
    redis:
      host: localhost
      port: 6379
      password: 123456